<h1>Restaurant info</h1>

<h2><%= @restaurant.name %></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Rating: <%= @restaurant.rating %></p>

<p><%= link_to 'Back', restaurants_path %></p>
<p><%= link_to 'Edit', edit_restaurant_path(@restaurant) %></p>
<p><%= link_to 'Delete', restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are sure you?"} %></p>
